.draggable__chat__body {
  flex: 1;
  background: inherit;
  padding: 30px;
  background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
  background-repeat: repeat;
  background-position: center;
  overflow: auto;

  .chat__body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    .chat__message {
      max-width: 70% !important;
      min-width: 40px;
      position: relative;
      padding: 8px;
      width: fit-content;
      border-radius: 10px;
      background-color: #ffffff;
      margin-bottom: 30px;
      .chat__name {
        position: absolute;
        top: -15px;
        font-weight: 800;
        font-size: xx-small;
      }
      .chat__box {
        display: flex;
        align-items: center;
        word-break: break-word;
        gap: 8px;
        .mesage__content {
          .chat__deleted__text {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;
          }
        }

        .message__info {
          height: 24px;
          // width: 40px;
          display: flex;
          justify-content: end;
          align-items: center;
          align-self: end;
          gap: 2px;
          margin-bottom: -10px;
          margin-right: -3px;
          .chat__timestamp {
            font-size: xx-small;
            word-break: normal;
          }
          .seen-tick {
            font-size: 14px;
          }
        }
      }
    }
    .chat__reciever {
      margin-left: auto;
      background-color: #dcf8c6;
    }
    .chat__deleted {
      font-size: 12px;
      color: gray;
    }
    .ant-skeleton {
      align-self: end;
    }
    .typing-indicator {
      display: flex;
      align-items: center;
      font-size: 14px;
      color: gray;
      position: absolute; //position from chat class
      bottom: 49px;
      .dot {
        height: 7px;
        width: 7px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        margin-right: 5px;
        animation: typing-indicator 1.5s infinite;
      }
      .dot:nth-child(2) {
        animation-delay: 0.2s;
      }

      .dot:nth-child(3) {
        animation-delay: 0.4s;
      }
      @keyframes typing-indicator {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.5);
        }
        100% {
          transform: scale(1);
        }
      }
    }
  }
}

@media screen and (max-width: 460px) {
  .chat__body {
    .chat__message {
      .chat__box {
        gap: 4px !important;

        .message__info {
          gap: 0px !important;
        }
      }
    }
  }
}
